<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="List of english videos to watch">
    <title>Friday watching</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.css">
    <style>
      body {
        padding: 20px;
        font-family: Roboto;
      }
      label {
        margin: 0 5px;
        cursor: pointer;
        font-weight: normal;
      }
      input.hidden {
        display: none;
      }
      input:checked + label {
        font-weight: bold;
      }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/template" class="viewList">
      <div>
        <h3>Watch list</h3>
        <input v-model="textFilter" placeholder="Text filter" type="text">
        <div class="clearfix">
          <label class="float-left">
            <input v-model="showSeen" type="checkbox">
            Show seen
          </label>
        </div>
        <div v-if="checkedLinks.length" class="clearfix">
          <textarea>/poll "What should we watch on friday?" "{{checkedLinks.join('" "')}}"</textarea>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Link</th>
              <th>Seen</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="video in videos">
              <td>
                <input class="hidden" :id="video.link" type="checkbox" :value="video.name + ':' + video.link" v-model="checkedLinks">
                <label :for="video.link">{{ video.name }}</label>
              </td>
              <td>
                <a :href="video.link">{{ video.link }}</a>
              </td>
              <td>{{ video.seen ? '✓' : '' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </script>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var request = new XMLHttpRequest();
        request.open('GET', 'http://192.241.145.243:4444/gettable' + location.search, true);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            const videos = JSON.parse(request.responseText).reduce(function(newArray, singleLine, index) {
              if (!singleLine.name || index === 0) {
                return newArray;
              }
              if (singleLine.seen.trim() === 'TRUE') {
                singleLine.seen = true;
              }
              return newArray.concat(singleLine);
            }, []).sort((a,b) => {
              return a.seen > b.seen ? 1 : -1
            });

            const vueSettings = {
              el: '#app',
              template: document.querySelector('.viewList').innerHTML,
              data: {
                textFilter: '',
                showSeen: false,
                checkedLinks: []
              },
              methods: {
                filterVideos: function(videos){
                  return videos.reduce((newArray, singleLine) => {
                    if (!this.showSeen && singleLine.seen || this.textFilter && !singleLine.name.toLowerCase().includes(this.textFilter.toLowerCase())) {
                      return newArray;
                    }
                    return newArray.concat(singleLine);
                  }, []);
                }
              },
              computed: {
                videos: function() {
                  return this.filterVideos(videos);
                }
              }
            };

            const app = new Vue(vueSettings);
          }
        };
        request.send();
      });
    </script>
  </body>
</html>
