:root
{
    --main-bg-color: white;
    --main-bg-gradient: white;
    --main-font-color: black;
}

body,
html
{
    font-family: 'PT Sans','Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
    font-size: 12px;
}
 h2 {
    font-size: 1.5em !important;
}

pre,
code
{
    text-align: left;
}

p
{
    margin: 0;
}
p img
{
    max-width: 100%;
    max-height: 90%;
}
.remark-slide-content.smaller
{
    font-size: 25px;
}

.remark-slide-content.center > h3
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    text-align: center;

    opacity: .5;
}
.remark-slide-content.center li
{
    font-size: 1em;
}

.remark-slide-content.center ul
{
    width: 960px;
    margin: 0 auto;

    text-align: left;
}
.remark-slide-content
{
    position: relative;

    color: var(--main-font-color);
}
.remark-slide-content:after
{
    position: fixed;
    right: 0;
    bottom: 0;

    width: 140px;
    height: 65px;

    content: ''
    background-size: contain;
}
.remark-slides-area .remark-slide-container:first-child .remark-slide-content:after
{
    display: none;
}
.list-center li
{
    line-height: 1em;

    margin: 15px 0;

    list-style: inside;

    white-space: nowrap;
}
.list-center.center li
{
    white-space: inherit;
}

.list-styled ul li
{
    list-style: inside;
}

.center p img {
    margin: 0 auto;
}

.center.middle.no-padding
{
    padding: 0;
}

.secondary
{
    opacity: .2;
}
.current-plan-step
{
    font-weight: bold;

    position: relative;
}


.remark-code
{
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.6em;
}
.gizmo-holder
{
    position: relative;
    right: 0;
    left: 0;
}

.title-bg
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-title
{
    position: absolute;
    top: 40px;
    left: 140px;
}

a,
a:visited
{
    color: gray;
}

.remark-code-line-highlighted
{
    background-color: #f5d60e;
}

.hljs-default .hljs
{
    color: var(--main-font-color);
    background-color: transparent;
}

@page
{
    margin: 0;

    size: 1210px 681px;
}


.colorpicker {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1010;
  width: 40px;
  height: 40px;
  background-color: var(--main-font-color);
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;

}

.black-bg {
  --main-bg-color: black;
  --main-bg-gradient: black; 
  --main-font-color: white;
}
.qr-code {
    margin-top: -300px;
}

img {
    font-style: italic;
    font-size: 0.4em;
}

.remark-code-line {
    font-size: 0.4em;
}

    @page {
      size: 1210px 681px;
      margin: 0;
    }

    @media print {
      .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
      }
    body,
    html
    {
        font-size: 9px;
    }
     h2 {
        font-size: 0.6em !important;
    }
    .remark-slide-content.smaller, ul
{
    font-size: 17px;
}

.remark-code
{
    font-size: 1.1em;
}


    }