@import _mixins
@import _jeet
@import _rupture
@import _color

body
  font-family: Helvetica, PT Sans
  background-color: clouds
  
#container
  font-size: 1.5em
  width: 80%
  text-align: center
  align(both)
  margin-top: -30px
  +below(400px)
    width: 95%
  h2, h4
    margin: 0
  h4
    font-weight: normal
    width: 450px
    margin: 0 auto    
    cf()
    +below(400px)
      width: 100%
  a
    color: darken(clouds, 70)
    +below(400px)
      text-align: center
      stack()
