<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="List of MTG cards I am selling">
    <meta name="author" content="Dmitri Kunin">
    <title>Kunin's MTG list</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.css">
    <style>
      * {
        font-family: Roboto;
      }
      body {
        padding: 20px;
      }
      .hidden, input[type='checkbox'] {
        display: none;
      }
      input[type='checkbox'] + img {
        width: 30px;
        cursor: pointer;
        opacity: .5
      }
      input:checked + img {
        opacity: 1;
      }
      input[type='text'] {
        display: block;
        padding: 10px;
      }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/template" class="cardlist">
      <div>
        <h3>Card list</h3>
        <input v-model="textFilter" placeholder="Text filter" type="text">
        <div>
          <label class="float-left">
            <input v-model="black" type="checkbox">
            <img src="https://hydra-media.cursecdn.com/mtgsalvation.gamepedia.com/2/2f/B.svg"/>
          </label>
          <label class="float-left">
            <input v-model="white" type="checkbox">
            <img src="https://hydra-media.cursecdn.com/mtgsalvation.gamepedia.com/8/8e/W.svg"/>
          </label>
          <label class="float-left">
            <input v-model="green" type="checkbox">
            <img src="https://hydra-media.cursecdn.com/mtgsalvation.gamepedia.com/8/88/G.svg"/>
          </label>
          <label class="float-left">
            <input v-model="red" type="checkbox">
            <img src="https://hydra-media.cursecdn.com/mtgsalvation.gamepedia.com/8/87/R.svg"/>
          </label>
          <label class="float-left">
            <input v-model="blue" type="checkbox">
            <img src="https://hydra-media.cursecdn.com/mtgsalvation.gamepedia.com/9/9f/U.svg"/>
          </label>
        </div>
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Edition</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="card in cards">
              <td>
                <a :href="card.image" target="_blank"><img :src="card.image" width="80px"/></a>
              </td>
              <td>{{ card.name }}</td>
              <td>{{ card.edition }}</td>
              <td>{{ card.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </script>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var request = new XMLHttpRequest();
        request.open('GET', 'http://192.241.145.243:4444/gettable' + location.search, true);
        request.onload = function() {
          if (request.status >= 200 && request.status < 400) {
            const cards = JSON.parse(request.responseText);

            const vueSettings = {
              el: '#app',
              template: document.querySelector('.cardlist').innerHTML,
              data: {
                textFilter: '',
                black: false,
                white: false,
                red: false,
                green: false,
                blue: false
              },
              methods: {
                filterCards: function(cards){
                  return cards
                    .reduce((newArray, singleCard) => {
                      const selectedColors = ['black', 'white', 'red', 'green', 'blue']
                        .filter(singleColor => this[singleColor]);

                      if (
                        this.textFilter && !singleCard.name.toLowerCase().includes(this.textFilter.toLowerCase()) ||
                        selectedColors.length && !selectedColors.some(singleColor => singleCard.color.includes(singleColor))
                      ) {
                        return newArray;
                      }

                      return newArray.concat(singleCard);
                    }, []);
                }
              },
              computed: {
                cards: function() {
                  return this.filterCards(cards);
                }
              }
            };

            const app = new Vue(vueSettings);
          }
        };
        request.send();
      });
    </script>
  </body>
</html>
